body {
    font-family: 'PT Serif', serif;
    color: rgb(0, 0, 0);
    margin: 0;
}  


h1 {
    font-size: 50px;
    
}
.span-text{
    color: rgb(4, 157, 7);
}
#h3-text{
    size: 100px;
    border-bottom: 2px solid red;
}
.head-section{
    display: flex;
    background-image:url("img/top-banner.png");
    background-repeat: no-repeat;
    margin-bottom: 150px;
   
}
.dream-section{
    display: flex;
    background-image:url("img/dream-bg.png");
    background-repeat: no-repeat;
    margin-bottom: 150px;
    background-position: right;
    background-position-y: 240px;
}
.half-width{
    width: 50%;
    padding: 25px;
    align-items: center;
}
.info{
    padding-left: 50px;
    margin-left: 20px;
}
 .half-width img{
    size: 30%;
    border:5px solid rgb(0, 0, 0) ;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
 }
 .ancor-btn{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-image: linear-gradient(rgb(249, 122, 4),rgb(155, 4, 4));
    padding: 5px 20px;
    border-radius: 10px;
 }
