body {
    font-family: 'PT Serif', serif;
    color: rgb(0, 0, 0);
    margin: 0;
}
h1 {
    font-size: 50px;

}
#h1-exprience{
    padding-left: 20px;
    margin-left: 40px;
}
.span-text {
    color: rgb(4, 157, 7);
}
#h3-text {
    size: 100px;
    border-bottom: 2px solid red;
}
.flex-section {
    display: flex;
    margin-bottom: 80px;

}
.head-section {

    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
    margin-bottom: 150px;

}
.dream-section {

    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 240px;
}
.half-width {
    width: 50%;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    
    align-items: center;
}
.info {
    padding-left: 50px;
    margin-left: 20px;
}
.half-width img {
    size: 30%;
    border: 5px solid rgb(0, 0, 0);
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;
}
.img-or{
    margin-top: 45px;
}
.ancor-btn {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-image: linear-gradient(rgb(249, 122, 4), rgb(155, 4, 4));
    padding: 5px 20px;
    border-radius: 10px;
}
.Exprience-section{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 90px;
}
.ex-box{
    width: 40%;
    padding: 2%;
    box-shadow: 10px 5px 30px rgb(4, 4, 4);
    margin-left: 5%;
    margin-right: 5%;
}
#Ex-full-border-gr{
    border-left: 7px solid;
    border-image: linear-gradient(red, blue);
    border-image-slice: 1; 
    border-radius: 5px;
}
#Ex-Baby-border-gr{
    border-left: 7px solid;
    border-image: linear-gradient(red, rgb(255, 225, 0));
    border-image-slice: 1;
    border-radius: 5px; 
}
.footer{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: gray;
    padding-bottom: 5px;
}